body {
  color: #000;
  background-color: #e5eef7;
}
h1,
h2,
h3,
p,
blockquote,
li,
td {
  font-family: sans-serif, sans-serif;
  line-height: 1.6em;
}

pre,
code {
  font-family: monospace, monospace;
}

pre {
  margin-left: 3em;
  line-height: 1.6em;
}

#wrapper {
  max-width: 36em;
  margin: 0 auto;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
